*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #0082e6;
    height: 90px;
    width: 100%;
}

label.logo{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 40px;
    line-height: 80px;
    padding: 0 40px;
    font-weight: bold;
}

label.social{
    position: absolute;
    left: 40px;
    top: 65px;
}

.social{
    color: white;
    transition: color 0.2s ease-in-out;
    padding: 0 5px;
    background-color: #0082e6;
}

.social :hover{
    color: chocolate;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.main{
    background: url(/images/courses2.jpg);
    background-size: cover;
    height: 90.5vh;
    width: 100%;
}

.main a{
    color: rgb(2, 1, 2);
    font-size: 18px;
    position: relative;
    top: 5px;
    left: 15px;
}

a:hover{
    color:red;
}

.photo-text{
    float: right;
    width: 50%;
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;
    top: 100px;
    text-align: center;
}

.text{
    float: left;
    width: 50%;
    padding: 50px 50px;
    box-sizing: border-box;
    position: relative;
    top: 20px;
}

.text h1{
    font-size: 40px;
    text-align: center;
}

.text p{
    font-size: 20px;
    position: relative;
    top: 55px;
}

.photo-text img{
    width: 60%;
    position: relative;
    top: 65px;
}

@media(max-width:1200px){
    label.logo{
        font-size: 38px;
    }
    .photo-text{
        float: none;
        width: 100%;
        text-align: center;
        position: relative;
        top: 0px;
    }
    .text{
        float: none;
        width: 100%;
        text-align: center;
        padding: 50px 45px;
    }
    .main{
        height: 130vh;
    }
}