*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.main{
    background: url(/images/Courses2.jpg);
    background-size: cover;
    height: 90vh;
    width: 100%;
}

nav{
    background: #0082e6;
    height: 90px;
    width: 100%;
}

label.logo{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 40px;
    line-height: 80px;
    padding: 0 40px;
    font-weight: bold;
}

label.social{
    position: absolute;
    left: 40px;
    top: 65px;
}

.social{
    color: white;
    transition: color 0.2s ease-in-out;
    padding: 0 5px;
    background-color: #0082e6;
}

.social :hover{
    color: chocolate;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.main a{
    color: rgb(2, 1, 2);
    font-size: 18px;
    position: relative;
    top: 5px;
    left: 15px;
}

a:hover{
    color:red;
}

.main h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 15px;
}

.container{
   text-align: center;
   position: relative;
   top: 60px;
   margin: 0 30px;
}

#private{
    float: left;
    width: 50%;
    min-height: 490px;
    padding: 0 90px;
    box-sizing: border-box;
    border-style: dotted;
    border-color: #0082e6;
    border-radius: 50px;
    position: relative;
    right: 2px;
}

#private h2{
    font-size: 25px;
    position: relative;
    top: 55px;
    background-color: #0082e61c;
}

#private h3{
    font-size: 22px;
    position: relative;
    top: 85px;
}

#private li{
    font-size: 20px;
    position: relative;
    top: 105px;
    text-decoration: underline;
    padding: 9px 0;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.384);
}

#group{
    float: right;
    width: 50%;
    height: 490px;
    padding: 0 90px;
    box-sizing: border-box;
    border-style: dotted;
    border-color: #0082e6;
    border-radius: 50px;
    position: relative;
    left: 2px;
}

#group h2{
    font-size: 25px;
    position: relative;
    top: 55px;
    background-color: #0082e61c;
}

#group h3{
    font-size: 22px;
    position: relative;
    top: 85px;
}

#group li{
    font-size: 20px;
    position: relative;
    top: 105px;
    text-decoration: underline;
    padding: 9px 0;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.384);
}

@media(max-width:1170px){
    label.logo{
        font-size: 38px;
    }
    .main{
        height: 122vh;
    }
    #private{
        width: 100%;
        float: none;
        padding: 0 40px;
    }
    #private li{
        font-size: 18px;
    }
    #group{
        width: 100%;
        float: none;
        padding: 0 40px;
        position: relative;
        top: 10px;
    }
    #group li{
        font-size: 18px;
    }
}